header {
  text-align: center;
}

a.Layout__site-title-link {
  text-decoration: none;
  color: #000000;
}

h1.Layout__site-title {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 400;
  margin: 36px 0 44px 0;
}

.Layout__content,
.footer-content {
  width: 840px;
  margin: 0 auto;
}

.Layout__content {
  margin-bottom: 110px;
}

footer {
  background-color: #525252;
  height: 180px;
  padding-top: 24px;
}

footer p {
  font-size: 14px;
  color: #d5d5d5;
}

@media screen and (max-width: 915px) {
  .Layout__content,
  .footer-content {
    width: 90%;
    margin: 0 auto;
  }

  .Layout__content {
    margin-bottom: 110px;
  }
}